/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2025, 10:05:28 PM
    Author     : uyenm
*/
h2 {
    font-weight: bold;
}

.btn-primary {
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-cart{
    margin-bottom: 10px;
}

.btn{
    background-color:  #FFAAAA;
    border: none;
}