/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2025, 10:34:59 PM
    Author     : uyenm
*/
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.background {
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  width: 30%;
  color: white;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  border-radius: 25px;
  overflow: hidden;
}
.input-group input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #a78bfa; /* hoặc bất kỳ màu nào bạn muốn */
}


.input-group input {
  width: 100%;
  padding: 12px 15px 12px 40px;
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.input-group input::placeholder {
  color: white;
}

.input-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.options a {
  color: #eee;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: white;
  color: #4b2b8f;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #ddd;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
}

.register-link a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

